.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    height: 100vh;
    background-color: white;
}

.chat_header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    background-color: #f5f5f5
}

.chat_header > h4 {
    font-weight: 500;
    color: gray;

}

.chat_name {
    color: black;

}

.chat_input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid lightgray;
    background-color: #f5f5f5;

}

.chat_input > form {
    flex: 1;
}

.chat_messages {
    flex: 1;
    overflow: scroll;
}


/* hide scrollbar for chrome safari and opera */
.chat_messages::-webkit-scrollbar {
    display: none;
 }

 /* hide scrollbar for IE, edge and firefox */
 .chat_messages {
     -ms-overflow-style: none; 
     scrollbar-width: none;
 }

.chat_input > form > input {
    width: 98%;
    outline-width: 0;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 5px;
}

.chat_input > form > button {
    display: none;
}

.input-ext {
    color: rgba(0, 98, 255, 0.781); 
    size: 10px;
}

