.sidebar {
    flex: 0.35;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 1px solid lightgray;
    background-color: #f5f5f5;
}

.sidebar_header {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.sidebar_avatar{
    cursor: pointer;
    margin: 10px;

}

.sidebar_input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;    
    background-color: #e1e1e1;
    color: gray;
    border-radius: 5px;
}

.sidebar_input > input {
    border: none;
    background: transparent;
    outline-width: 0;
}

.sidebar_chats {
    overflow: scroll;

}

/* hide scrollbar for chrome safari and opera */
 .sidebar_chats::-webkit-scrollbar {
    display: none;
 }

 /* hide scrollbar for IE, edge and firefox */
 .sidebar_chats {
     -ns-overflow-style: none; 
     scrollbar-width: none;
 }
 