.sidebarChat {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid lightcyan;
    cursor: pointer;
}

.sidebarChat:hover {
    background-color: #3e93fd;
    color: white;
}

.sidebarChat_info {
    margin-left: 15px;
    position: relative;
    width: 100%;

}

.sidebarChat_info:hover {
    /* position: absolute; */
    top: 5px;
    right: 0;
    
}

